In [3]:
for i in [0,1,2,3,4,5]:
    n=+i

In [7]:
for i in ['東京','大阪','福岡']:
    print(i)

東京
大阪
福岡

In [8]:
x = 1
x = x /2
print(x)

0.5

In [9]:
import math
x = 1/2
print(math.floor(x))
print(math.ceil(x))
print(round(x))

0
1
0

In [10]:
u = [1,2,3]
print(u[1])

2

In [12]:
s = []
for u in range(5):
    s.append(u*2)
print(s)

[0, 2, 4, 6, 8]

In [13]:
s = [0,2,4,6,8]
print(s[1:3])

[2, 4]

In [14]:
print(s[-3:-1])

[4, 6]

In [15]:
u=[[0,1,2],[3,4,5],[6,7,8]]
print(u[1][2])

5

In [16]:
u = 'abcde'
print(u[2:4])
v = '東京タワー'
print(v[2:4])

cd
タワ

In [17]:
print(len(v))

5

In [21]:
dic = {'東京タワー': 333, '富士山':3776, '通天閣':108, '天保山':4.53}
print(dic['通天閣'])

108

In [22]:
print(dic.items())
print(dic.keys())
print(dic.values())

dict_items([('東京タワー', 333), ('富士山', 3776), ('通天閣', 108), ('天保山', 4.53)])
dict_keys(['東京タワー', '富士山', '通天閣', '天保山'])
dict_values([333, 3776, 108, 4.53])

In [25]:
u = [1,1,2,3,3,4,5,6,6]
v =list(set(u))
print(u)
print(v)

[1, 1, 2, 3, 3, 4, 5, 6, 6]
[1, 2, 3, 4, 5, 6]

In [37]:
import time
def sample_loop(n):
    r =[ ]
    for i in range(n):
        r.append(i)
    return r

def sample_comprehension(n):
    return [i for i in range(n)]

start = time.time()
sample_loop(10000)
print(time.time() - start,'sec')
start = time.time()
sample_comprehension(10000)
print(time.time() - start,'sec')

0.002468109130859375 sec
0.0005271434783935547 sec

In [38]:
input = ['東京','大阪','福岡']
for i , v in enumerate(input):
    print(i,v)

0 東京
1 大阪
2 福岡

In [40]:
towers = ['東京タワー','通天閣','名古屋テレビ局']
heights = [33,108,180]
for u in zip(towers, heights):
    print(u)

('東京タワー', 33)
('通天閣', 108)
('名古屋テレビ局', 180)

In [42]:
p = [['東京タワー',333],['通天閣',108],['名古屋テレビ局',180]]
sorted(p)

[['名古屋テレビ局', 180], ['東京タワー', 333], ['通天閣', 108]]

In [49]:
def extract_height(u):
    return u[1]
q = sorted(p,key=extract_height)
print(q)

[['通天閣', 108], ['名古屋テレビ局', 180], ['東京タワー', 333]]

In [52]:
p = [['東京タワー',333],['通天閣',108],['名古屋テレビ局',180]]
q = sorted(p,key=lambda u: u[1])
print(q)

[['通天閣', 108], ['名古屋テレビ局', 180], ['東京タワー', 333]]

In [54]:
print(sorted(dic.items(),key=lambda u:u[1]))

[('天保山', 4.53), ('通天閣', 108), ('東京タワー', 333), ('富士山', 3776)]

In [55]:
print(sorted(dic.items(),key=lambda u:u[1], reverse=True))

[('富士山', 3776), ('東京タワー', 333), ('通天閣', 108), ('天保山', 4.53)]